@charset "utf-8";
body {
    font-family: Arial Black, "sans-serif", sans-serif;
	font-size: 16px;
    font-weight: normal;
}
a {
	font-size: 24px;
	color: white;
	text-decoration: none;
	padding-left: 24px;
	padding-right: 24px;
}
a:hover {
    color: red;
}
.signupcontainer {
    text-align: center;
    position: relative;
    width: 300px;
    height: 200px;
}
.signupbutton{
	z-index: -1;
    mix-blend-mode: multiply;
}
.signuptext {
    height: 30px;
    width: 300px;
    position:absolute;
    margin:auto;
    top:0;right:0;bottom:0;left:0;
}
.title {
    text-shadow: 3px 0px 30px rgba(150, 150, 150, 1););
    font-size: 48px;
	position: absolute;
	top: 0.5em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
    colour: black;
}
.titleimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
}
.navbar {
	position: absolute;
	left: -153px;
	right: 0;
	top: 11em;
	background-color: black;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	display: block;
}
.contactbar {
    position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 12px;
	color: white;
	background-color: black;
	padding-left: 3%;
	padding-right: 10%;
	margin-top: 3em;
	text-align: left;
	display: block;
	
}
.main {
    position: absolute;
    float: left;
    background-color: white;
	margin-top: 1%;
    margin-right: 30%;
    margin-left: 5%;
    padding-top: -15.3%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: solid;
}
.announcements > p {
    color: black;
    font-size: 16px;
    border-bottom: solid;
}
.content {
    color: black;
    font-size: 16px;
    border-bottom: solid;
    margin-bottom: 1em;
    padding-bottom: 2em;

}
.laddersidebar {
    position: absolute;
    border: solid;
    float: right;
    font-size: 12px;
    background-color: white;
    margin-top: 1%;
    margin-left: 75.3%;
    margin-right: 5%;
    padding: 1em;
    color: black;
}
form {
    text-align: justify;
}
.blackanchor {
    display: block;
    font-size: 18px;
    color: black;
    text-decoration: dashed;
    width: 1200px;
}
.contentimage {
    float: left;
    margin-right: 1em;
    border: solid;
}